# .NET
VbMerchant/bin/
VbMerchant/obj/
VbMerchant/wwwroot/uploads/
VbMerchant/*.user
VbMerchant/appsettings.Development.json

# Angular
vb-merchant/node_modules/
vb-merchant/dist/
vb-merchant/.angular/

# General
.DS_Store
*.log
